{% extends "layout.html" %}
{% load static %}

{% block main %}
  <div class="form-control" style="text-align: left; width: 50%;">
    <form action="" id="search-form" method="post">{% csrf_token %}
      <div class="col-4" style="padding-top: 10px;">
        {{ search }}
      </div>
      <div class="col-2" style="padding-right: 30px; padding-top: 10px;">
          <button type="button" id="search_button" class="col-12 btn btn-danger" value="search_data">Buscar</button>
      </div>
    </form>
    <div id="filtered_return"></div>
  </div>
  
  
  <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
  <script>
    $( "#autocomplete" ).autocomplete({
      source: "/tienda/search_dashboard/"
    });
  </script>
{% endblock %}
