{% extends "layout.html" %}

{% block main %}
    <div class="form-control" style="text-align: left; width: 50%;">
      <form action="{% url 'cargar' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <label for="id_name">Name:</label><input type="text" name="name" maxlength="200" required="" id="id_name">
        <label for="id_url">Url:</label><input type="text" name="url" maxlength="200" required="" id="id_url">
        <label for="id_dashboard_type">Dashboard type:</label>
        
        <select name="dashboard_type" id="id_dashboard_type">
          <option value="Custom" selected="">Custom</option>
          <option value="External">External</option>
        </select>
        
        <label for="id_description">Description:</label><input type="text" name="description" maxlength="200" required="" id="id_description">
        <label for="id_status">Status:</label>
        
        <select name="status" id="id_status">
          <option value="Draft" selected="">Draft</option>
          <option value="Published">Published</option>
          <option value="Retired">Retired</option>
        </select>
        
        <label for="id_image">Image:</label><input type="file" name="image" accept="image/*" id="id_image">
        <label for="id_published_date">Published Date:</label><input type="date" name="published_date" required="" id="id_published_date">
        
        <div class="col-4" style="padding-right: 30px;">
            <button type="submit" class="col-12 btn btn-danger">Enviar</button>
        </div>
      </form>
    </div>

    <script src="/static_dev/js/jquery.js"></script>
    <script>
      $("#id_published_date").datepicker({ inline: true});
    </script>
{% endblock %}

